adblockparser==0.7
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Cython==0.29.15
fibheap==0.2.1
flashtext==2.7
idna==2.9
langdetect==1.0.7
langid==1.1.6
numpy==1.18.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
tld==0.11.10
urlcanon==0.3.1
urllib3==1.25.8
wget==3.2
